<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/paging.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/mq_header.js"></script>
    <title>설계장</title>
</head>
<body>
<header id="header">
    <div class="container">
        <h1 class="logo">
            설계장
        </h1>
        <a href="#" class="menu_btn">
            <div></div>
            <div></div>
            <div></div>
        </a>
        <nav class="nav">
            <ul class="gnb">
                <li><a th:href="@{/}">HOME</a>
                    <ul class="sub">

                    </ul>
                </li>
                <li><a href="#">SERVICE</a>
                    <ul class="sub">
                        <li><a th:href="@{/board/paging}">디자인 센터</a></li>
                        <li><a href="#">공지사항</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="hd_bg"></div>
</header>

    <h1>index 메인입니다. 메인페이지 디자인 주때용</h1>

</body>
<script>
//  function saveReq() {
//
//  }




</script>
</html>